.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app {
    font-family: 'Press Start 2P', cursive;
    flex-direction: column;
}

h1 {
    text-transform: uppercase;
}

.screen {
    
}

h2 {
    text-transform: uppercase;
}

.btn {
    background: none;
    border: 0;
    cursor: pointer;
    font-size: 2em;
    padding: 10px;
}

.btn:hover {
    background: #ccc;
}